<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
		<setting label="32001" type="text" id="email" default=""/>
        <setting label="32002" type="text" id="password" option="hidden" default=""/>
        <setting label="32003" type="slider" id="itemsperpage" range="10,1,100" option="int" default="20"/>
        <setting label="32004" type="bool" id="fullguide" default="false"/>
        <setting label="32005" type="bool" id="splitlive" default="false"/>
        <setting label="32006" type="action" action="RunScript(script.module.inputstreamhelper,widevine_install)" visible="!system.platform.android"/>
        <setting label="32007" type="select" id="scrobbling" lvalues="32008|32009" />
        <setting label="32011" type="number" id="scrobblingInterval" default="1"/>
        <setting label="32012" type="bool" id="detectmediatype" default="true"/>
        <setting label="32013" type="bool" id="lookupfullplot" default="true"/>
        <setting label="32014" type="bool" id="cache" default="true"/>
        <setting label="32015" type="bool" id="cachememory" default="false"/>
</settings>
